#shellcheck shell=bash
use flake
export CLOUDSDK_CORE_PROJECT=zombiezen-nix-cache-action
export CLOUDSDK_COMPONENT_MANAGER_DISABLE_UPDATE_CHECK=True

# For GITHUB_TOKEN in scripts/hash_binaries.mjs.
dotenv_if_exists
